*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    filter: drop-shadow(5px 5px 20px rgb(45, 37, 163));
}

.App {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    background: rgb(1 28 38);
}

.time {
    width: 400px;
    filter: drop-shadow(5px 5px 20px rgb(64, 83, 119));
    border-radius: 12px;
    font-size: 18px;
    font-size: 1.5rem;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    padding: 15px 30px;
    margin: 60px;
    background-image: url("https://static.depositphotos.com//storage/upscaler/processed_ddcb96b7-5f1f-4eea-a690-64f857388637_6385051277f69.jpg?isize=1200");
}

.time:hover {
    background-image: url(/src/compontes/img/dream.jpg);

    transition: 0s;
    color: #b9b3b3;
}

img {

    margin: 30px auto;
    width: 150px;
    height: auto;
    filter: drop-shadow(5px 5px 20px rgb(255, 255, 255));
    padding: 0;
    margin: 0;
}

body {
    color: #b5b5b5;


}



ul>li {
    list-style: none;
}



button {
    border-radius: 20px;
    background-color: black;
    color: #b5b5b5;
    font-size: 16px;
    width: 150px;
    height: 40px;
    filter: drop-shadow(5px 5px 20px rgb(50, 81, 219));
}

@media(min-width: 700px) {
    .time {
        max-width: 800px;
    }
}